@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: radial-gradient(circle at center center, #eef5ff, #ffffff), repeating-radial-gradient(circle at center center, #eef5ff, #eef5ff, 49px, transparent 98px, transparent 49px);
background-blend-mode: multiply;
background-color: #ffffff;
}

main {
  background-color: white;
  border-radius: 40px;
  margin: 20px;
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.sb-sidenav-menu {
  background-color: #f8fafd;
}

.sb-topnav {
  background-color: #f8fafd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link {
  color: #3d3b40;
  font-weight: 500;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link:hover {
  color: #000000;
  background-color: rgb(226, 226, 226);
}

.navbar-brand {
  font-weight: 700;
}

.navbar-brand p:hover {
  color: #b4d4ff;
  transition: 0.2s ease-in-out;
}

.search {
  background-color: #b4d4ff;
  color: white;
  border: none;
}

.search:hover {
  background-color: #ced4da;
  border: 1px solid #ced4da;
}

.search-bar {
  border: none;
  background-color: #e9eef6;
  color: white;
  font-weight: 500;
}

.search-bar::placeholder {
  color: #515051;
}

.ubah {
  background-color: #fde767;
  border: none;
  color: #3d3b40;
  font-weight: 400;
}

.ubah:hover {
  background-color: #d7c13f;
  color: #3d3b40;
}

.hapus {
  background-color: #ff6575;
  border: none;
  color: white;
  font-weight: 400;
}

.tambah {
  border: none;
  background-color: #02b461;
  font-weight: 400;
  color: white;
}

@media (max-width: 576px) {
  .tambah .add_tambah {
    display: none;
  }
  body {
    background-color: #f8fafd;
  }
  main {
    border-radius: 0;
    margin: 0;
  }
  .datatable-input {
    width: 140px;
  }
}

.back {
  cursor: pointer;
  color: #707071;
}

.back:hover {
  color: #212529;
  transition: 5ms ease-in;
}

footer {
  background-color: #f8fafd !important;
}

.test {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
